
    <div class="container">
        <div class="header">
            <div class="left"><i class="fa fa-android"></i></div>
            <!-- <div class="left"><img src="../download.jpg" alt="Profile Image"></div> -->
            <div><h2>ChatBot</h2></div>
            <div class="right" (click)="closeDialog()"><i class="fa fa-close"></i></div>
        </div>
        <div class="body">
            <div class="messages" #messageContainer>
                <div *ngFor="let item of messages" class="message"
            [ngClass]="{'sent': item.isSender, 'received': !item.isSender}">
            <div class="message-content">
              {{ item.content}}
            </div>
          </div>
            </div>

            <div class="flex">
                <div>
                    <textarea [(ngModel)]="content" placeholder="write your message here.." name="contentInput" cols="120"
                        rows="2" (keydown.enter)="sendMsg()"></textarea>
                </div>
                <div>
                    <button (click)="sendMsg()"><i class="fa fa-send-o" style="font-size:20px;color:white;"></i></button>
                </div>
            </div>
        </div>
    </div>
